
# String Based Assignment Problem

In [1]:
# 1. Write a program to reverse a string.

In [2]:
s = "Srinivas"
print(s[::-1])

savinirS

In [3]:
# 2. Check if a string is a palindrome.

In [4]:
s = "madam"
if s[::-1] == s:
    print("It is pallindrome")
else:    
    print("It is not pallindrome")

It is pallindrome

In [5]:
# 3. Convert a string to uppercase.

In [6]:
s = "srinivas"
s.upper()

'SRINIVAS'

In [7]:
# 4. Convert a string to lowercase.

In [8]:
s = "srinivas"
s.lower()

'srinivas'

In [9]:
# 5. Count the number of vowels in a string.

In [10]:
s = "srinivas"
count = 0
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count+=1
print(count)

3

In [11]:
# 6. Count the number of consonants in a string.

In [12]:
s = "srinivas"
count = 0
for i in s:
    if i!='a' and i!='e' and i!='i' and i!='o' and i!='u':
        count+=1
print(count)

5

In [13]:
# 7. Remove all whitespaces from a string.

In [14]:
s = "srin  ivas  "
s.replace(" ",'')

'srinivas'

In [15]:
# 8. Find the length of a string without using the `len()` function.

In [16]:
s = "srinivas"
count =0
for i in s:
    count+=1
print(count)

8

In [17]:
# 9. Check if a string contains a specific word.

In [18]:
s = "srinivas padhy"
if "padhy" in s:
    print(True)
else:
    print(False)

True

In [19]:
# 10. Replace a word in a string with another word.

In [20]:
s = "srinivas padhy"
s.replace("srinivas","Mr. Srinivas")

'Mr. Srinivas padhy'

In [21]:
# 11. Count the occurrences of a word in a string.

In [22]:
s = "srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy"
s.count("sri")

5

In [23]:
# 12. Find the first occurrence of a word in a string.

In [24]:
s = "srinivas padhy"
s.find('sri')

0

In [25]:
# 13. Find the last occurrence of a word in a string.

In [26]:
s = "srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy"
f = "sri"
f = f[::-1]
s[::-1].index(f)

21

In [27]:
# 14. Split a string into a list of words.

In [28]:
s = "srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy"
s.split()

['srinivas',
 'padhy,',
 'sri,',
 'sri,',
 'sri',
 ',',
 'sri,',
 'padhy,',
 'padhy,',
 'padhy']

In [ ]:
# 15. Join a list of words into a string.

In [29]:
s = "srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy"
l = s.split()
s = (' ').join(l)
s

'srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy'

In [ ]:
# 16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.

In [30]:
s = "srinivas padhy sri sri sri  sri padhy padhy padhy"
s.replace(' ','_')

'srinivas_padhy_sri_sri_sri__sri_padhy_padhy_padhy'

In [ ]:
# 17. Check if a string starts with a specific word or phrase.

In [31]:
s = "srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy"
s.startswith("sri")

True

In [ ]:
# 18. Check if a string ends with a specific word or phrase.

In [32]:
s = "srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy"
s.endswith("sri")

False

In [ ]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [33]:
s = "hello world"
s.title()

'Hello World'

In [ ]:
# 20. Find the longest word in a string.

In [34]:
s = "srinivas padhy, sri, sri, sri , sri, padhy, padhy, padhy"
l = s.split()
c=0
for i in l:
    if len(i)>c:
        c=len(i)
        
print(c)

8

In [ ]:
# 21. Find the shortest word in a string.

In [35]:
s = "srinivas padhy, sri, sri, sri, sri, padhy, padhy, padhy"
l = s.split(', ')
c= len(l[0])
for i in l:
    if len(i)<c:
        c=len(i)
        
print(c)

3

In [ ]:
# 22. Reverse the order of words in a string.

In [36]:
s = "srinivas padhy, sri, sri, sri, sri, padhy, padhy, padhy"
l = s.split(', ')
ls = []
for i in l:
    i = i[::-1]
    ls.append(i)
s1 = ", ".join(ls)
s1

'yhdap savinirs, irs, irs, irs, irs, yhdap, yhdap, yhdap'

In [ ]:
# 23. Check if a string is alphanumeric.

In [37]:
s = "srinivas23"
s.isalnum()

True

In [ ]:
# 24. Extract all digits from a string.

In [38]:
s = "srinivas23"
s1=""
for i in s:
    if i.isdigit():
        s1=s1+i
s1

'23'

In [ ]:
# 25. Extract all alphabets from a string.

In [39]:
s = "srinivas23"
s1=""
for i in s:
    if i.isalpha():
        s1=s1+i
s1

'srinivas'

In [ ]:
# 26. Count the number of uppercase letters in a string.

In [40]:
s="Srinivas Padhy"
count=0
for i in s:
    if i.isupper():
        count+=1
count

2

In [ ]:
# 27. Count the number of lowercase letters in a string.

In [41]:
s="Srinivas Padhy"
count=0
for i in s:
    if i.islower():
        count+=1
count

11

In [ ]:
# 28. Swap the case of each character in a string.

In [42]:
s="Srinivas Padhy"
s1=s.swapcase()
s1

'sRINIVAS pADHY'

In [ ]:
# 29. Remove a specific word from a string.

In [43]:
s="Srinivas Padhy"
s1 = s.strip('Padhy')
s1

'Srinivas '

In [ ]:
# 30. Check if a string is a valid email address.

In [44]:
s = "srinivaspadhybm@Gmail.com"
s1 = s.lower()
if '@' in s1:
    s1 = s1.split('@')
    if '.com' in s1[1]:
        print('valid')

valid

In [ ]:
# 31. Extract the username from an email address string.

In [45]:
s = "srinivaspadhybm@Gmail.com"
s1 = s.split('@')
username = s1[0]
username

'srinivaspadhybm'

In [ ]:
# 32. Extract the domain name from an email address string.

In [46]:
s = "srinivaspadhybm@Gmail.com"
s1 = s.split('@')
domain = s1[1]
domain

'Gmail.com'

In [ ]:
# 33. Replace multiple spaces in a string with a single space.

In [47]:
s = "srinivas         padhy"
' '.join(s.split())

'srinivas padhy'

In [ ]:
# 34. Check if a string is a valid URL.

In [48]:
s = "www.pwskills.com"
s = s.split('.')
if s[0] == 'www' and s[-1] == 'com':
    print('valid')

valid

In [ ]:
# 35. Extract the protocol (http or https) from a URL string.

In [49]:
s = "https://www.netflix.com/watch/81206817?trackId=200257858"
s1 = s.split(':')
s1[0]

'https'

In [ ]:
# 36. Find the frequency of each character in a string.

In [50]:
s = "madammadammdadmmadammdammadammadammadammadammadam"
s = s.lower()
d = {}
for c in s:
    if c in d:
        d[c]=d[c]+1
    else:
        d[c]=1
d

{'m': 20, 'a': 18, 'd': 11}

In [ ]:
# 37. Remove all punctuation from a string.

In [51]:
import string
s = "mdwecwe'ewefwe'wedwf"
translator = s.maketrans('','',string.punctuation)
translator
s1 = s.translate(translator)
s1

'mdwecweewefwewedwf'

In [ ]:
# 38. Check if a string contains only digits.

In [52]:
s = '498264982659'
s.isdigit()

True

In [ ]:
# 39. Check if a string contains only alphabets.

In [53]:
s = 'srinivaspadhy'
s.isalpha()

True

In [ ]:
# 40. Convert a string to a list of characters.

In [54]:
s = "srinivaspadhy"
l=[]
l.extend(s)
l

['s', 'r', 'i', 'n', 'i', 'v', 'a', 's', 'p', 'a', 'd', 'h', 'y']

In [ ]:
# 41. Check if two strings are anagrams.

In [55]:
s = "silent"
s1 = "listen"
s_sorted = ''.join(sorted(s))
s1_sorted = ''.join(sorted(s1))
s_sorted == s1_sorted

True

In [ ]:
# 42. Encode a string using a Caesar cipher.

In [56]:
s = "PASSWORD"
key = 3
encode = []
for c in s:
    shift = 65 if c.upper() else 91
    encode.append(chr((ord(c)-shift + key) % 26 + shift))
''.join(encode)

'SDVVZRUG'

In [ ]:
# 43. Decode a Caesar cipher encoded string.

In [57]:
s = "SDVVZRUG"
key = 3
encode = []
for c in s:
    shift = 65 if c.upper() else 91
    encode.append(chr((ord(c)-shift - key) % 26 + shift))
''.join(encode)

'PASSWORD'

In [ ]:
# 44. Find the most frequent word in a string.

In [58]:
s = "password password madam srinivas madam madam madam srinivas madam password madam srinivas password password madam"
count = 0
l = s.split(' ')
d = {}
for w in l:
    if l.count(w) > count:
        count = l.count(w)
        word = w
print(f'word : {word}, count : {count}')

word : madam, count : 7

In [ ]:
# 45. Find all unique words in a string.

In [59]:
s = "password password madam srinivas madam madam madam srinivas madam password madam srinivas password password madam"
l = s.split(' ')
print(f'set of all unique words in a string {set(l)}')

set of all unique words in a string {'srinivas', 'password', 'madam'}

In [ ]:
# 46. Count the number of syllables in a string.

In [60]:
syllables = "aeiou"
s = "srinivaspadhy"
s = s.lower()
d = {}
for c in syllables:
    if c in s:
        d[c] = s.count(c)
        
print(d)

{'a': 2, 'i': 2}

In [ ]:
# 47. Check if a string contains any special characters.

In [62]:
import re
pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\|/-]'
s = "srinivas @#padhy"
if re.search(pattern, s):
    print(True)
else:
    print(False)

True

In [ ]:
# 48. Remove the nth word from a string.

In [63]:
s = "password password madam srinivas madam madam madam srinivas madam password madam srinivas password password madam"
l = s.split(' ')
del l[len(l)-1]
' '.join(l)

'password password madam srinivas madam madam madam srinivas madam password madam srinivas password password'

In [ ]:
# 49. Insert a word at the nth position in a string.

In [64]:
s = 'password password madam srinivas madam madam madam srinivas madam password madam srinivas password password'
l = s.split(' ')
l.append('padhy')
' '.join(l)

'password password madam srinivas madam madam madam srinivas madam password madam srinivas password password padhy'

In [66]:
# 50. Convert a CSV string to a list of lists.

In [67]:
import csv
s = 'password,password,madam,srinivas,madam,madam,madam,srinivas,madam,password,madam,srinivas,password,password'
csv_list = list(csv.reader(s.splitlines()))
csv_list

[['password',
  'password',
  'madam',
  'srinivas',
  'madam',
  'madam',
  'madam',
  'srinivas',
  'madam',
  'password',
  'madam',
  'srinivas',
  'password',
  'password']]

# List Based Practice Problem :

In [ ]:
# 1. Create a list with integers from 1 to 10.

In [68]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# 2. Find the length of a list without using the `len()` function.

In [69]:
c=0
for i in l:
    c+=1
print(c)

10

In [70]:
# 3. Append an element to the end of a list.

In [72]:
l = [1,2,5,7,8,"dergf",543]
l.append(45)
l

[1, 2, 5, 7, 8, 'dergf', 543, 45]

In [73]:
# 4. Insert an element at a specific index in a list.

In [75]:
l = [1,2,5,7,8,"dergf",543]
l[4] = "srinivas"
l

[1, 2, 5, 7, 'srinivas', 'dergf', 543]

In [76]:
# 5. Remove an element from a list by its value.

In [77]:
l = [1,2,5,7,8,"dergf",543]
l.remove(5)
l

[1, 2, 7, 8, 'dergf', 543]

In [78]:
# 6. Remove an element from a list by its index.

In [80]:
l = [1,2,5,7,8,"dergf",543]
l.pop(5)
l

[1, 2, 5, 7, 8, 543]

In [81]:
# 7. Check if an element exists in a list.

In [82]:
l = [1,2,5,7,8,"dergf",543]
5 in l

True

In [83]:
# 8. Find the index of the first occurrence of an element in a list.

In [84]:
l = [1,2,5,7,8,"dergf",543,"dergf","dergf",543,2,4,7,"dergf"]
l.index("dergf")

5

In [85]:
# 9. Count the occurrences of an element in a list.

In [86]:
l = [1,2,5,7,8,"dergf",543,"dergf","dergf",543,2,4,7,"dergf"]
l.count("dergf")

4

In [87]:
# 10. Reverse the order of elements in a list.

In [89]:
l = [1,2,5,7,8,"dergf",543,"dergf","dergf",543,2,4,7,"dergf"]
l.reverse()
l

['dergf', 7, 4, 2, 543, 'dergf', 'dergf', 543, 'dergf', 8, 7, 5, 2, 1]

In [90]:
# 11. Sort a list in ascending order.

In [93]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l.sort()
l

[1, 2, 2, 4, 5, 7, 8, 9, 12, 23, 43, 45, 45, 65, 543]

In [94]:
# 12. Sort a list in descending order.

In [95]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l.sort(reverse=True)
l

[543, 65, 45, 45, 43, 23, 12, 9, 8, 7, 5, 4, 2, 2, 1]

In [96]:
# 13. Create a list of even numbers from 1 to 20.

In [99]:
l = [i for i in range(2,21,2)]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [100]:
# 14. Create a list of odd numbers from 1 to 20.

In [101]:
l = [i for i in range(1,20,2)]
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [102]:
# 15. Find the sum of all elements in a list.

In [103]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
sum(l)

814

In [104]:
# 16. Find the maximum value in a list.

In [105]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
max(l)

543

In [106]:
# 17. Find the minimum value in a list.

In [107]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
min(l)

1

In [108]:
# 18. Create a list of squares of numbers from 1 to 10.
[i*i for i in range(1,10,1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
# 19. Create a list of random numbers.

In [113]:
import random
[random.randint(1,100) for _ in range(10)]

[51, 21, 87, 80, 20, 90, 99, 55, 85, 95]

In [114]:
# 20. Remove duplicates from a list.

In [115]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
list(set(l))

[1, 2, 65, 4, 5, 7, 8, 9, 43, 12, 45, 23, 543]

In [116]:
# 21. Find the common elements between two lists.

In [117]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l1 = [1,3,5,543,76,45,23,9,65,245,678]
list(set(l) & set(l1))

[65, 1, 5, 9, 45, 23, 543]

In [118]:
# 22. Find the difference between two lists.

In [119]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l1 = [1,3,5,543,76,45,23,9,65,245,678]
list(set(l)-set(l1))

[2, 4, 7, 8, 43, 12]

In [120]:
# 23. Merge two lists.

In [121]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l1 = [1,3,5,543,76,45,23,9,65,245,678]
l+l1

[1,
 2,
 5,
 7,
 8,
 543,
 45,
 23,
 43,
 65,
 45,
 2,
 4,
 9,
 12,
 1,
 3,
 5,
 543,
 76,
 45,
 23,
 9,
 65,
 245,
 678]

In [127]:
# 24. Multiply all elements in a list by 2.
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
[i*2 for i in l]

[2, 4, 10, 14, 16, 1086, 90, 46, 86, 130, 90, 4, 8, 18, 24]

In [128]:
# 25. Filter out all even numbers from a list.

In [136]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
[i for i in l if i%2 == 0]

[2, 8, 2, 4, 12]

In [137]:
# 26. Convert a list of strings to a list of integers.

In [138]:
l = ["12",'23','43','78']
[int(i) for i in l]

[12, 23, 43, 78]

In [139]:
# 27. Convert a list of integers to a list of strings.

In [140]:
l = [12, 23, 43, 78]
[str(i) for i in l]

['12', '23', '43', '78']

In [141]:
# 28. Flatten a nested list.

In [144]:
l = [1,45,67,23,43,[24,54,67]]
[i for sub_list in l for i in (sub_list if isinstance(sub_list,list) else [sub_list])]

[1, 45, 67, 23, 43, 24, 54, 67]

In [145]:
# 29. Create a list of the first 10 Fibonacci numbers.

In [147]:
def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return fibonacci_sequence[:n]

fibonacci_numbers = generate_fibonacci(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [146]:
# 30. Check if a list is sorted.

In [148]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l==l.sort()

False

In [149]:
# 31. Rotate a list to the left by `n` positions.

In [154]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l[5:]+l[:5]#n=5

[45, 2, 4, 9, 12, 1, 2, 5, 7, 8, 543, 45, 23, 43, 65]

In [152]:
# 32. Rotate a list to the right by `n` positions.
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l[-5:]+l[:-5]#n=5

[45, 2, 4, 9, 12, 1, 2, 5, 7, 8, 543, 45, 23, 43, 65]

In [155]:
# 33. Create a list of prime numbers up to 50.

In [466]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i+2) == 0:
            return False
        i += 6
    return True

l = []
num = 2
while num <= 50:
    if is_prime(num):
        l += [num]
    num += 1

print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [158]:
# 34. Split a list into chunks of size `n`.

In [163]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
[l[i:i+5] for i in range(0,len(l),5)]

[[1, 2, 5, 7, 8], [543, 45, 23, 43, 65], [45, 2, 4, 9, 12]]

In [162]:
# 35. Find the second largest number in a list.

In [188]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l.sort(reverse=True)
l[1]

65

In [189]:
# 36. Replace every element in a list with its square.

In [192]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
[i**i for i in l]

[1,
 4,
 3125,
 823543,
 16777216,
 991533670911673639814930729742491587550543120114886806650910637268465952095708990787212475527164494262311458084050540555524438379331322229515116872850551475100845329359247781704424675452252070727332661642953721841355760091748936673254088797193184089641511606452710509554349113937847267409470589228304498760369617411698744120733684813717226581415760842746889214357079084706156741020604644793780793389083681544583519598437660888859982482896168184793171786368136187552260956283771412915799629786213126060700182224921128180223455870846441184623508268313696155174972047814824108541486220727641650645820906668756683891620124251795307436814192869124111118998081201355910527141599375084262122684571731482592737933683304943786848957064723730229152063187570070555259881004860476034859909096725024003664561959222594655723749531425585956633006616666836071950875861931176827306407951456508427384063361274203563835586325158391291370990079242647280246350629188304979703238397425789768857375020346765799265251533947767027968647337777729178369373879887991551105216997197384241489657395138559105779626082700579888774365075567731454008816035026048526952617227841111619666812746016933306720715237597549002795373496270828821886353215155517622779326191598977509319978499693780568393020861523419967918279715503694096052623743311915148576475293047211353746992400417556215922353926958394049488376443613729846935929043448134352391932811502674590885618086155217153363045987870985003973833327826133685994690199007,
 248063644451341145494649182395412689744530581492654164321720600128173828125,
 20880467999847912034355032910567,
 17343773367030267519903781288812032158308062539012091953077767198995507,
 6908252164760920851405538694468286082230378724259454186289117297729987129104901877330036086277686990797519683837890625,
 248063644451341145494649182395412689744530581492654164321720600128173828125,
 4,
 256,
 387420489,
 8916100448256]

In [194]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.

In [198]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
{i:index for index,i in enumerate(l)}

{1: 0,
 2: 11,
 5: 2,
 7: 3,
 8: 4,
 543: 5,
 45: 10,
 23: 7,
 43: 8,
 65: 9,
 4: 12,
 9: 13,
 12: 14}

In [199]:
# 38. Shuffle the elements of a list randomly.

In [203]:
import random
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
random.shuffle(l)
l

[4, 5, 45, 7, 1, 2, 23, 43, 65, 12, 8, 45, 543, 2, 9]

In [204]:
# 39. Create a list of the first 10 factorial numbers.

In [206]:
import math
[math.factorial(i) for i in range(1,11)]

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [207]:
# 40. Check if two lists have at least one element in common.

In [213]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
l2 = [543,2,65,23,78,1,9]
[True if i in l2 else False for i in l].count(True)>1

True

In [214]:
# 41. Remove all elements from a list.

In [218]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]

l.clear()
l.

[]

In [219]:
# 42. Replace negative numbers in a list with 0.

In [222]:
l = [1,-2,5,-7,8,-543,45,-23,-43,65,-45,2,4,9,12]
[i if i > 0 else 0 for i in l]

[1, 0, 5, 0, 8, 0, 45, 0, 0, 65, 0, 2, 4, 9, 12]

In [223]:
# 43. Convert a string into a list of words.

In [226]:
s = "srinivas padhy"
s.split(' ')

['srinivas', 'padhy']

In [227]:
# 44. Convert a list of words into a string.

In [228]:
l=['srinivas', 'padhy']
(' ').join(l)

'srinivas padhy'

In [229]:
# 45. Create a list of the first `n` powers of 2.

In [230]:
[2**i for i in range(1,10)]# n = 10

[2, 4, 8, 16, 32, 64, 128, 256, 512]

In [231]:
# 46. Find the longest string in a list of strings.

In [233]:
s = ['srinivas','padhy','deafqergeqer','eteavreg']
max(s,key=len)

'deafqergeqer'

In [234]:
# 47. Find the shortest string in a list of strings.

In [235]:
s = ['srinivas','padhy','deafqergeqer','eteavreg']
min(s,key=len)

'padhy'

In [236]:
# 48. Create a list of the first `n` triangular numbers.

In [238]:
[i * (i + 1) // 2 for i in range(1, 10 + 1)]#n=10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [239]:
# 49. Check if a list contains another list as a subsequence.

In [246]:
l = [3,5,65,234,543,23,78,65,98,79]
l1 = [234,23,65,79]
i, j = 0, 0
while i < len(l) and j < len(l1):
    if l[i] == l1[j]:
        j += 1
    i += 1
    
j==len(l1)

True

In [243]:
# 50. Swap two elements in a list by their indices.
l = [3,5,65,234,543]
l[3],l[2]=l[2],l[3]
l

[3, 5, 234, 65, 543]

# Tuple Based Practice Problem :

In [247]:
# 1. Create a tuple with integers from 1 to 5.

In [ ]:
t = (1,2,3,4,5)

In [248]:
# 2. Access the third element of a tuple.

In [249]:
t = (1,2,3,4,5)
t[2]

3

In [250]:
# 3. Find the length of a tuple without using the `len()` function.

In [251]:
t = (1,2,3,4,5)
l = 0
for i in t:
    l+=1
l

5

In [252]:
# 4. Count the occurrences of an element in a tuple.

In [254]:
t = (1,2,3,4,5,2,54,2,65,34,3,78,12,3,59,90,87,3)
t.count(3)

4

In [255]:
# 5. Find the index of the first occurrence of an element in a tuple.

In [257]:
t = (1,2,3,4,5,2,54,2,65,34,3,78,12,3,59,90,87,3)
t.index(3)

2

In [258]:
# 6. Check if an element exists in a tuple.

In [259]:
t = (1,2,3,4,5,2,54,2,65,34,3,78,12,3,59,90,87,3)
65 in t

True

In [260]:
# 7. Convert a tuple to a list.

In [261]:
t = (1,2,3,4,5,2,54,2,65,34,3,78,12,3,59,90,87,3)
list(t)

[1, 2, 3, 4, 5, 2, 54, 2, 65, 34, 3, 78, 12, 3, 59, 90, 87, 3]

In [262]:
# 8. Convert a list to a tuple.

In [263]:
l = [3,5,65,234,543,23,78,65,98,79]
tuple(l)

(3, 5, 65, 234, 543, 23, 78, 65, 98, 79)

In [264]:
# 9. Unpack the elements of a tuple into variables.

In [272]:
t = (1,2,3,4,5,2,54,2,65,34)
a,b,c,d,e,f,g,h,i,j = t
a,b,c,d,e,f,g,h,i,j

(1, 2, 3, 4, 5, 2, 54, 2, 65, 34)

In [273]:
# 10. Create a tuple of even numbers from 1 to 10.

In [278]:
tuple(range(2,11,2))

(2, 4, 6, 8, 10)

In [279]:
# 11. Create a tuple of odd numbers from 1 to 10.

In [280]:
tuple(range(1,10,2))

(1, 3, 5, 7, 9)

In [281]:
# 12. Concatenate two tuples.

In [282]:
t = (1,2,3,4,5,2,54,2,65,34)
t1 = ("srinivas","padhy",23,45,"pwskills")
t+t1

(1, 2, 3, 4, 5, 2, 54, 2, 65, 34, 'srinivas', 'padhy', 23, 45, 'pwskills')

In [283]:
# 13. Repeat a tuple three times.

In [284]:
t1 = ("srinivas","padhy",23,45,"pwskills")
t1*3

('srinivas',
 'padhy',
 23,
 45,
 'pwskills',
 'srinivas',
 'padhy',
 23,
 45,
 'pwskills',
 'srinivas',
 'padhy',
 23,
 45,
 'pwskills')

In [285]:
# 14. Check if a tuple is empty.

In [286]:
t1 = ("srinivas","padhy",23,45,"pwskills")
len(t1) == 0

False

In [287]:
# 15. Create a nested tuple.

In [288]:
t2 = ("srinivas","padhy",(34,45,32),("pw",'skills'))
t2

('srinivas', 'padhy', (34, 45, 32), ('pw', 'skills'))

In [289]:
# 16. Access the first element of a nested tuple.

In [290]:
t2[0]

'srinivas'

In [291]:
# 17. Create a tuple with a single element.

In [296]:
t2=("srinivas",)
type(t2)

tuple

In [292]:
# 18. Compare two tuples.

In [327]:
t1 = ("srinivas","padhy",23,45,"pwskills")
t2=("srinivas",)
t1 >= t2

True

In [328]:
# 19. Delete a tuple.

In [329]:
t1 = ("srinivas","padhy",23,45,"pwskills")
del(t1)
t1

NameError: name 't1' is not defined

In [330]:
# 20. Slice a tuple.

In [332]:
t1 = ("srinivas","padhy",23,45,"pwskills",290,750)
a,b = t1[:2],t1[2:]
a,b

(('srinivas', 'padhy'), (23, 45, 'pwskills', 290, 750))

In [333]:
# 21. Find the maximum value in a tuple.

In [336]:
t1 = ("srinivas","padhy",'pwskills')
max(t1)

'srinivas'

In [337]:
# 22. Find the minimum value in a tuple.

In [338]:
t1 = (23,45,290,750)
min(t1)

23

In [339]:
# 23. Convert a string to a tuple of characters.

In [343]:
s = "srinivas"
t = tuple(s)
t

('s', 'r', 'i', 'n', 'i', 'v', 'a', 's')

In [341]:
# 24. Convert a tuple of characters to a string.

In [367]:
"".join(t)

'srinivas'

In [365]:
# 25. Create a tuple from multiple data types.

In [368]:
tm = (34,543,"srinivas","padhy",{"course":"datascience"})
tm

(34, 543, 'srinivas', 'padhy', {'course': 'datascience'})

In [369]:
# 26. Check if two tuples are identical.

In [372]:
t= ("srinivas","padhy",456,543)
t1 = ("srinivas","padhy",456,543)
t == t1

True

In [374]:
# 27. Sort the elements of a tuple.

In [376]:
t = (345,543,678,1,23,43,90,390,789,912,3982)
sorted(t,reverse=True)

[3982, 912, 789, 678, 543, 390, 345, 90, 43, 23, 1]

In [377]:
# 28. Convert a tuple of integers to a tuple of strings.

In [382]:
t = (1,2,3,4,5,2,54,2,65,34)
t1 = tuple(str(i) for i in t)
t1

('1', '2', '3', '4', '5', '2', '54', '2', '65', '34')

In [381]:
# 29. Convert a tuple of strings to a tuple of integers.

In [383]:
t2 = tuple(int(i) for i in t1)
t2

(1, 2, 3, 4, 5, 2, 54, 2, 65, 34)

In [384]:
# 30. Merge two tuples.

In [385]:
t = (1,2,3,4,5,2,54,2,65,34)
t1 = ("srinivas","padhy",'Pwskills')
t+t1

(1, 2, 3, 4, 5, 2, 54, 2, 65, 34, 'srinivas', 'padhy', 'Pwskills')

In [386]:
# 31. Flatten a nested tuple.

In [389]:
t = (1,2,3,4,5,2,("srinivas","padhy",'Pwskills'),54,2,65,34)
tuple(i for sub_tuple in t for i in (sub_tuple if isinstance(sub_tuple,tuple) else (sub_tuple,)))

(1, 2, 3, 4, 5, 2, 'srinivas', 'padhy', 'Pwskills', 54, 2, 65, 34)

In [390]:
# 32. Create a tuple of the first 5 prime numbers.

In [445]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i+2) == 0:
            return False
        i += 6
    return True

t = ()
num = 2
while len(t) < 5:
    if is_prime(num):
        t += (num,)
    num += 1

print(t)

(2, 3, 5, 7, 11)

In [393]:
# 33. Check if a tuple is a palindrome.

In [399]:
t = ('m','a','d','a','m')
t[::-1]==t[:]

True

In [398]:
# 34. Create a tuple of squares of numbers from 1 to 5.

In [400]:
tuple(i*i for i in range(1,6,1))

(1, 4, 9, 16, 25)

In [401]:
# 35. Filter out all even numbers from a tuple.

In [402]:
t = (2,4,6,8,10,12,12,23,35,57,79,1,31,35,39,41,81,93,19)
tuple(i for i in t if i%2==0)

(2, 4, 6, 8, 10, 12, 12)

In [403]:
# 36. Multiply all elements in a tuple by 2.

In [469]:
t = (2,4,6,8,10,12,12,23,35,57,79,1,31,35,39,41,81,93,19)
tuple(i*2 for i in t)

(4, 8, 12, 16, 20, 24, 24, 46, 70, 114, 158, 2, 62, 70, 78, 82, 162, 186, 38)

In [470]:
# 37. Create a tuple of random numbers.

In [483]:
import random
tuple(random.randint(1,100) for i in range(10))

(67, 6, 27, 5, 26, 21, 73, 93, 4, 9)

In [484]:
# 38. Check if a tuple is sorted.

In [485]:
t = (2,4,6,8,10,12,12,23,35,57,79,1,31,35,39,41,81,93,19)

t == sorted(t,reverse=True) or t == sorted(t,reverse=False)

False

In [486]:
# 39. Rotate a tuple to the left by `n` positions.

In [488]:
t = (2,4,6,8,10,12,12,23,35,57,79,1,31,35,39,41,81,93,19)
t = t[5:] + t[:5]
t

(12, 12, 23, 35, 57, 79, 1, 31, 35, 39, 41, 81, 93, 19, 2, 4, 6, 8, 10)

In [489]:
# 40. Rotate a tuple to the right by `n` positions.

In [502]:
t[-10:]+t[:-10]

(39, 41, 81, 93, 19, 2, 4, 6, 8, 10, 12, 12, 23, 35, 57, 79, 1, 31, 35)

In [503]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [505]:
def generate_fibonacci(n):
    fibonacci_sequence = (0, 1)
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence+=(next_number,)
    return fibonacci_sequence[:n]

fibonacci_numbers = generate_fibonacci(10)
print(fibonacci_numbers)

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [506]:
# 42. Create a tuple from user input.

In [508]:
print(tuple(input("Enter  3 numbers")))

Enter  3 numbers234
('2', '3', '4')

In [509]:
# 43. Swap two elements in a tuple.

In [512]:
t = (2,4,6,8,10,12,12,23,35,57,79,1,31,35,39,41,81,93,19)
t = list(t)
t[2],t[3]=t[3],t[2]
t = tuple(t)
t

(2, 4, 8, 6, 10, 12, 12, 23, 35, 57, 79, 1, 31, 35, 39, 41, 81, 93, 19)

In [513]:
# 44. Reverse the elements of a tuple.

In [518]:
t = (2,4,6,8,10,12,12,23,35,57,79,1,31,35,39,41,81,93,19)
t = list(t)
t.reverse()
t = tuple(t)
t

(19, 93, 81, 41, 39, 35, 31, 1, 79, 57, 35, 23, 12, 12, 10, 8, 6, 4, 2)

In [519]:
# 45. Create a tuple of the first `n` powers of 2.

In [522]:
tuple(2**n for n in range(1,10+1))

(2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

In [523]:
# 46. Find the longest string in a tuple of strings.

In [526]:
t = ("srinivas","padhy","pwskills",'sunny',"madam","datascience")
temp = 0
longest = t[0]
for s in t:
    if len(s) > temp:
        temp = len(s)
        longest = s
print(longest)

datascience

In [527]:
# 47. Find the shortest string in a tuple of strings.

In [531]:
t = ("srinivas","padhy","pwskills",'sunny',"madam","datascience")
temp = len(t[0])
shortest = t[0]
for s in t:
    if len(s) < temp:
        temp = len(s)
        shortest = s
print(shortest)

padhy

In [532]:
# 48. Create a tuple of the first `n` triangular numbers.

In [533]:
tuple(i*(i+1)//2 for i in range(1,10+1))

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [534]:
# 49. Check if a tuple contains another tuple as a subsequence.

In [537]:
t = (2,3,4,5,6,7,8,9)
t1 = (4,6,8)
i , j = 0,0
while i<len(t) and j<len(t1):
    if t[i] == t1[j]:
        j+=1
    i+=1
j==len(t1)

True

In [538]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [540]:
tuple(1 if i%2 == 0 else 0 for i in range(10))

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

In [541]:
# 1. Create a set with integers from 1 to 5.

In [544]:
{i for i in range(1,6)}

{1, 2, 3, 4, 5}

In [546]:
# 2. Add an element to a set.

In [550]:
s = {1,2,45,65,23,76,56,87,35,758,294}
s.add(32)
s

{1, 2, 23, 32, 35, 45, 56, 65, 76, 87, 294, 758}

In [551]:
# 3. Remove an element from a set.

In [552]:
s = {1,2,45,65,23,76,56,87,35,758,294}
s.remove(23)
s

{1, 2, 35, 45, 56, 65, 76, 87, 294, 758}

In [553]:
# 4. Check if an element exists in a set.

In [554]:
s = {1,2,45,65,23,76,56,87,35,758,294}
23 in s

True

In [555]:
# 5. Find the length of a set without using the `len()` function.

In [572]:
s = {1,2,45,65,23,76,56,87,35,758,294}

l = 0
for i in s:
    l+=1
print(l)

11

In [556]:
# 6. Clear all elements from a set.

In [574]:
s = {1,2,45,65,23,76,56,87,35,758,294}
s.clear()
s

set()

In [557]:
# 7. Create a set of even numbers from 1 to 10.

In [576]:
{i for i in range(1,11) if i%2 == 0}

{2, 4, 6, 8, 10}

In [558]:
# 8. Create a set of odd numbers from 1 to 10.

In [577]:
{i for i in range(1,11) if i%2 != 0}

{1, 3, 5, 7, 9}

In [559]:
# 9. Find the union of two sets.

In [578]:
s = {1,2,45,65,23,76,56,87,35,758,294}
s1 = ("srinivas","padhy","pwskills")
s.union(s1)

{1, 2, 23, 294, 35, 45, 56, 65, 758, 76, 87, 'padhy', 'pwskills', 'srinivas'}

In [560]:
# 10. Find the intersection of two sets.

In [579]:
s = {1,2,45,65,23,76,56,87,35,758,294,"sunny"}
s1 = ("srinivas","padhy","pwskills",76,758,"sunny")
s.intersection(s1)

{758, 76, 'sunny'}

In [561]:
# 11. Find the difference between two sets.

In [581]:
s = {1,2,45,65,23,76,56,87,35,758,294,"sunny"}
s1 = ("srinivas","padhy","pwskills",76,758,"sunny")
s.difference(s1)

{1, 2, 23, 35, 45, 56, 65, 87, 294}

In [562]:
# 12. Check if a set is a subset of another set.

In [585]:
s = {3,5,65,234,543,23,78,65,98,79}
s1 = {234,23,65,79}
s1.issubset(s)

True

In [563]:
# 13. Check if a set is a superset of another set.

In [586]:
s = {3,5,65,234,543,23,78,65,98,79}
s1 = {234,23,65,79}
s.issuperset(s1)

True

In [564]:
# 14. Create a set from a list.

In [587]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
s = set(l)
s

{1, 2, 4, 5, 7, 8, 9, 12, 23, 43, 45, 65, 543}

In [565]:
# 15. Convert a set to a list.

In [588]:
l = [1,2,5,7,8,543,45,23,43,65,45,2,4,9,12]
s = set(l)
s

{1, 2, 4, 5, 7, 8, 9, 12, 23, 43, 45, 65, 543}

In [566]:
# 16. Remove a random element from a set.

In [676]:
s = {3,5,65,234,543,23,78,65,98,79}
import random
random_element = random.choice(tuple(s))
s.remove(random_element)
s

{3, 5, 23, 65, 78, 79, 234, 543}

In [567]:
# 17. Pop an element from a set.

In [639]:
s = {3,5,65,234,543,23,78,65,98,79}
s.pop()
s

{3, 5, 23, 78, 79, 98, 234, 543}

In [568]:
# 18. Check if two sets have no elements in common.

In [679]:
s1 = {1,3,6,7,8}
s2 = {7,8,0,34}
if len(s1.intersection(s2))==0:
    print(True) 
else:
    print(False)

False

In [569]:
# 19. Find the symmetric difference between two sets.

In [680]:
s1 = {1,3,6,7,8}
s2 = {7,8,0,34}
s1.symmetric_difference(s2)

{0, 1, 3, 6, 34}

In [570]:
# 20. Update a set with elements from another set.

In [690]:
s1 = {1,3,6,7,8}
s2 = {7,8,0,34}
s1.update(s2)
print(s1)

{0, 1, 34, 3, 6, 7, 8}

In [571]:
# 21. Create a set of the first 5 prime numbers.

In [697]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i+2) == 0:
            return False
        i += 6
    return True

t = set()
num = 2
while len(t) < 5:
    if is_prime(num):
        t.add(num)
    num += 1

print(t)

{2, 3, 5, 7, 11}

In [698]:
# 22. Check if two sets are identical.

In [706]:
s1 = {1,3,6,7,8}
s2 = {1,6,8,3,7}
s1.union(s2)
len(s1.union(s2)) == len(s1)

True

In [707]:
# 23. Create a frozen set.

In [708]:
s1 = {1,3,6,7,8}
s = frozenset(s1)
s.

frozenset({1, 3, 6, 7, 8})

In [709]:
# 24. Check if a set is disjoint with another set.

In [711]:
s1 = {1,3,6,7,8}
s2 = {1,6,8,3,7}
s1.isdisjoint(s2)

False

In [712]:
# 25. Create a set of squares of numbers from 1 to 5.

In [715]:
{s**2 for s in range(1,6,1)}

{1, 4, 9, 16, 25}

In [716]:
# 26. Filter out all even numbers from a set.

In [717]:
s = {2,4,5,6,7,8,0,24,23,45,57,68}
{i for i in s if i%2==0}

{0, 2, 4, 6, 8, 24, 68}

In [718]:
# 27. Multiply all elements in a set by 2.

In [719]:
s = {2,4,5,6,7,8,0,24,23,45,57,68}
{i*2 for i in s}

{0, 4, 8, 10, 12, 14, 16, 46, 48, 90, 114, 136}

In [720]:
# 28. Create a set of random numbers.

In [725]:
import random
s = {random.randint(i,50) for i in range(1,10)} 
s

{11, 14, 28, 33, 36, 47, 50}

In [726]:
# 29. Check if a set is empty.

In [728]:
s=set()
len(s) ==0

True

In [729]:
# 30. Create a nested set (hint: use frozenset).

In [732]:
nested_set = frozenset({frozenset({1, 2}), frozenset({3, 4})})
print(nested_set)

frozenset({frozenset({3, 4}), frozenset({1, 2})})

In [733]:
# 31. Remove an element from a set using the discard method.

In [735]:
s = {2,4,5,6,7,8,0,24,23,45,57,68}
s.discard(8)
s

{0, 2, 4, 5, 6, 7, 23, 24, 45, 57, 68}

In [736]:
# 32. Compare two sets.

In [739]:
s1 = {1,3,6,7,8}
s2 = {1,6,8,3,7,4}
print(s1 == s2)
print(s1<s2)
print(s1>s2)

False
True
False

In [740]:
# 33. Create a set from a string.

In [741]:
s = "srinivas"
{i for i in s}

{'a', 'i', 'n', 'r', 's', 'v'}

In [742]:
# 34. Convert a set of strings to a set of integers.

In [743]:
s = {"34","56","21","90"}
{int(i) for i in s}

{21, 34, 56, 90}

In [744]:
# 35. Convert a set of integers to a set of strings.

In [745]:
s = {34,56,21,90}
{str(i) for i in s}

{'21', '34', '56', '90'}

In [746]:
# 36. Create a set from a tuple.

In [749]:
t = (2,3,5,6,45,76,1,4,9,6,76)
{i for i in t}

{1, 2, 3, 4, 5, 6, 9, 45, 76}

In [748]:
# 37. Convert a set to a tuple.

In [751]:
s = {1, 2, 3, 4, 5, 6, 9, 45, 76}
tuple(i for i in s)

(1, 2, 3, 4, 5, 6, 9, 76, 45)

In [752]:
# 38. Find the maximum value in a set.

In [759]:
s = {1, 2, 3, 4, 5, 6, 9, 45, 76}
high = 0
for i in s:
    if i > high:
        high = i
print(high)
# or

max(s)

76

76

In [754]:
# 39. Find the minimum value in a set.

In [758]:
s = {2, 3, 4, 5, 6, 9, 45, 76}
high = 4
for i in s:
    if i < high:
        high = i
print(high)

# or
min(s)

2

2

In [760]:
# 40. Create a set from user input.

In [764]:
s = set(input("Enter values to be added in a set"))
print(s)

Enter values to be added in a set25245754
{'5', '2', '7', '4'}

In [765]:
# 42. Create a set of the first 5 Fibonacci numbers.

In [767]:
def generate_fibonacci(n):
    fibonacci_sequence = (0, 1)
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence+=(next_number,)
    return fibonacci_sequence[:n]

fibonacci_numbers = generate_fibonacci(10)
print(set(fibonacci_numbers))

{0, 1, 2, 3, 34, 5, 8, 13, 21}

In [768]:
# 43. Remove duplicates from a list using sets.

In [770]:
l = [2,3,4,5,6,3,4,6,7,4,8,6,9,45,65,76,87,45,65,76,87,23,43,54,65,23]
list(set(l))

[65, 2, 3, 4, 5, 6, 7, 8, 9, 43, 76, 45, 23, 54, 87]

In [771]:
# 44. Check if two sets have the same elements, regardless of their count.

In [778]:
s1 = {2,4,5,7,8,3,4,7}
s2 = {2,4,5,8,3,7}
s1==s2

True

In [779]:
# 45. Create a set of the first `n` powers of 2.

In [780]:
{2**n for n in range(1,10)}

{2, 4, 8, 16, 32, 64, 128, 256, 512}

In [781]:
# 46. Find the common elements between a set and a list.

In [782]:
l = [2,3,4,6,7,8,43,54,65,34]
s = {2,4,5,54,43,34,6}
s1 = set(l)
s.intersection(s1)

{2, 4, 6, 34, 43, 54}

In [783]:
# 47. Create a set of the first `n` triangular numbers.

In [784]:
def triangular_numbers(n):
    tn = set()
    total = 0
    for i in range(1, n + 1):
        total += i
        tn.add(total)
    return tn

n = 10
tn = triangular_numbers(n)
print(tn)

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [785]:
# 48. Check if a set contains another set as a subset.

In [787]:
s = {2,3,5,6,8}
s1 = {1,4,6,9,2,3,5,6,8}
s.issubset(s1)

True

In [788]:
# 49. Create a set of alternating 1s and 0s of length `n`.

In [795]:
t = tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Printing the set of alternating 1s and 0s.
print(set(t))

{0, 1}

In [796]:
# 50. Merge multiple sets into one.

In [802]:
s = {1,2,3,4,5,6}
s1 = {3,4,5,2,6,7}
s2 = {3,4,6,7,8,0}
s.update(s1)
s.update(s2)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8}